
<!-- Fragment of footer -->
<div class="container-fluid pt-4 px-4" th:fragment="footer-recruiter">
    <div class="bg-light rounded-top p-4">
        <div class="text-center mb-3 mb-md-0">
            Bản quyền &copy; thuộc về <span class="text-primary">IT Job Seeker</span>. <br>Tất cả quyền được bảo lưu.
        </div>
        <div class="text-center text-md-end">
    
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
        </div>
    </div>
</div>