<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s"
        th:fragment="footer">
        <div class="container py-3">
            <div class="row g-5">
                <div class="col-md-4 col-xs-12">
                    <h5 class="text-white mb-4">IT Job Seeker</h5>
                    <a class="btn btn-link text-white-50" href="/about-us">Về chúng tôi</a>
                    <a class="btn btn-link text-white-50" href="/contact">Liên hệ</a>
                    <a class="btn btn-link text-white-50" href="/privacy-policy">Quy định bảo mật</a>
                    <a class="btn btn-link text-white-50" href="/terms-of-service">Điều khoản dịch vụ</a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h5 class="text-white mb-4">Khám phá</h5>
                    <a class="btn btn-link text-white-50" href="/resume-template">Công cụ tạo CV</a>
                    <a class="btn btn-link text-white-50" href="/jobs">Việc làm IT</a>
                    <a class="btn btn-link text-white-50" href="/companies">Công ty IT</a>
                    <a class="btn btn-link text-white-50" href="/company-registration">Trở thành nhà tuyển dụng</a>
                </div>
                <div class="col-md-4 col-xs-12 ">
                    <h5 class="text-white mb-4">Liên hệ</h5>
                    <a class="btn btn-link text-white-50"
                        href="https://www.google.com/maps/dir//72+La+D%C6%B0%C6%A1%C6%A1ng+D%C6%B0%C6%A1ng+N%E1%BB%99i+H%C3%A0+%C4%90%C3%B4ng+H%C3%A0+N%E1%BB%99i/@20.9902852,105.7383587,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x313453c4e2af41d7:0x7cbf7294a2b846ef"><i
                            class="fa fa-map-marker-alt me-2"></i>72 La Duong, Ha Dong, Ha Noi</a>
                    <a class="btn btn-link text-white-50" href="tel:+84968233561"><i
                            class="fa fa-phone-alt me-2"></i>+84 968 233 561</a>
                    <a class="btn btn-link text-white-50" href="mailto:jobseeker19886@gmail.com"><i
                            class="fa fa-envelope me-2"></i>jobseeker19886@gmail.com</a>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="https://twitter.com"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://facebook.com"><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://youtube.com"><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href="https://linkedin.com"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="my-4">
            <div class="text-center mb-3 mb-md-0">
                Bản quyền &copy; thuộc về <span class="text-success">IT Job Seeker</span>. <br>Tất cả quyền được bảo
                lưu.
            </div>
            <div class="text-center text-md-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>

</html>