<!-- Fragment of navbar -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0" th:fragment="navbar-recruiter">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img th:if="${session.provider == 'LOCAL'}" class="rounded-circle me-lg-2"
                    th:src="${session.provider == 'LOCAL' && session.avatar != null ? '/avatar/' + session.avatar : (session.avatar != null ? session.avatar : '/avatar/avatar-trang-4.jpg')}"
                    alt="" style="width: 40px; height: 40px;">
                <img th:if="${session.provider != 'LOCAL'}" class="rounded-circle me-lg-2"
                    th:src="${session.avatar != null ? session.avatar : '/avatar/avatar-trang-4.jpg'}" alt=""
                    style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex" th:text="${session.fullName}"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <div>
                    <a href="/" class="dropdown-item">Trang chủ</a>
                </div>
                <div sec:authorize="hasRole('ROLE_Admin')">
                    <a href="/admin/edit-admin" class="dropdown-item">Tài khoản của tôi</a>
                </div>

                <div sec:authorize="hasRole('ROLE_Recruiter')">
                    <a href="/recruiter/edit-recruiter" class="dropdown-item">Tài khoản của tôi</a>
                </div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item">Đăng xuất</button>
                </form>
            </div>
        </div>
    </div>
</nav>