<div class="sidebar pe-2 pb-3" th:fragment="sidebar-recruiter">
    <nav class="navbar bg-light navbar-light">
        <a href="/" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img th:if="${session.provider == 'LOCAL'}" class="rounded-circle me-lg-2"
                    th:src="${session.provider == 'LOCAL' && session.avatar != null ? '/avatar/' + session.avatar : (session.avatar != null ? session.avatar : '/avatar/avatar-trang-4.jpg')}"
                    alt="" style="width: 40px; height: 40px;">
                <img th:if="${session.provider != 'LOCAL'}" class="rounded-circle me-lg-2"
                    th:src="${session.avatar != null ? session.avatar : '/avatar/avatar-trang-4.jpg'}" alt=""
                    style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0"><span class="d-none d-lg-inline-flex" th:text="${session.fullName}"></span></h6>
                <span>Recruiter</span>
            </div>
        </div>
        <div class="navbar-nav w-100">

            <a href="/recruiter/dashboard" class="nav-item nav-link">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard
            </a>
            <a href="/recruiter/resume" class="nav-item nav-link">
                <i class="fa fa-file-alt me-2"></i>Quản lí CV
            </a>
            <a href="/recruiter/manage-jobs" class="nav-item nav-link">
                <i class="fa fa-briefcase me-2"></i>Tin tuyển dụng
            </a>

            <a href="/recruiter/edit-company" class="nav-item nav-link">
                <i class="fa fa-building me-2"></i>Thông tin công ty
            </a>
            <a href="/recruiter/follower" class="nav-item nav-link">
                <i class="fa fa-users me-2"></i>Người theo dõi
            </a>
            <a href="/recruiter/manage-branch" class="nav-item nav-link">
                <i class="fa fa-sitemap me-2"></i>Quản lí chi nhánh
            </a>
            <a href="/recruiter/manage-company-image" class="nav-item nav-link">
                <i class="fa fa-image me-2"></i>Hình ảnh công ty
            </a>
            <a href="/recruiter/feedback" class="nav-item nav-link">
                <i class="fa fa-comments me-2"></i>Phản hồi hệ thống
            </a>
            <a href="/recruiter/edit-recruiter" class="nav-item nav-link">
                <i class="fa fa-user me-2"></i>Tài khoản của tôi
            </a>
        </div>
    </nav>
</div>