<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Quy định bảo mật của IT Job Seeker</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/user/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/user/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/user/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet">

    <style>
        p {
            font-size: larger;
        }

        li {
            font-size: larger;
        }
    </style>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar Start -->
        <div th:replace="~{layout/navbar-seeker :: navbar}"></div>
        <!-- Navbar End -->

        <!-- Header End -->
    <div class="container-xxl py-5 bg-dark page-header">
        <div class="container my-5 pt-5 pb-4">
          <h1 class="display-3 text-white mb-3 animated slideInDown">Chính sách bảo mật</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
              <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">Chính sách bảo mật</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- Header End -->
        <!-- Content Start -->

        <div class="container-xxl py-5">
            <div class="container lh-base">
                <h2 class="text-center">Chính Sách Bảo Mật</h2>
                <p>IT Job Seeker được đăng ký tại Hà Nội, Việt Nam.
                    Chúng tôi là đơn vị cung cấp nền tảng tuyển dụng và kết nối ứng viên với nhà tuyển dụng.
                    Chúng tôi đóng vai trò là bộ điều khiển dữ liệu thông tin cá nhân thu thập được từ khách
                    hàng
                    và ứng viên sử dụng dịch vụ của chúng tôi.</p>

                <h3>1. Mục Đích Thu Thập Thông Tin</h3>
                <h4>Đối Với Ứng Viên</h4>
                <p>Mục đích chính của chúng tôi là tạo điều kiện thuận lợi cho quá trình tuyển dụng. Chúng tôi
                    đáp ứng các yêu cầu của người sử dụng đối với các cơ hội việc làm IT và tạo điều kiện thuận
                    lợi cho việc nộp hồ sơ ứng tuyển cho nhà tuyển dụng và nhà cung cấp dịch vụ tuyển dụng thông
                    qua trang web của chúng tôi. </p>
                <p>
                    Để thực hiện các nghĩa vụ pháp lý và kinh doanh của mình, chúng
                    tôi thu thập thông tin cá nhân mà bạn cung cấp khi sử dụng và truy cập trang web của chúng
                    tôi. Chúng tôi cũng thu thập thông tin về cách bạn sử dụng trang web của chúng tôi. Và chúng
                    tôi sử dụng thông tin này để giúp bạn tìm kiếm công việc phù hợp, khuyến khích bạn nhận lời
                    mời, giúp chúng tôi cải thiện dịch vụ, yêu cầu bạn tham gia khảo sát/hoạt động marketing,
                    thông báo cho bạn về các cập nhật/thông tin quan trọng, tạo ra báo cáo thống kê về thị
                    trường lao động, tuân thủ các luật/quy định có liên quan, và phân tích và khắc phục các
                    khuyết điểm. </p>
                <p>
                    Để sử dụng dịch vụ của chúng tôi, bạn sẽ được yêu cầu cung cấp thông tin cá
                    nhân (nhưng một số thông tin là tùy chọn) như tên, địa chỉ email, tên đường, thành phố, tiểu
                    bang/tỉnh, mã bưu điện, quốc gia, số điện thoại, mức lương hiện tại, URL trang web cá nhân
                    của bạn, tuổi/ngày sinh, quốc tịch, lịch sử học vấn, kỹ năng, khả năng ngôn ngữ, sở thích,
                    giới tính, các mối quan tâm của bạn, và Sơ yếu lý lịch/Thông tin người dùng của bạn.
                </p>
                <p>
                    Trong quá trình tuyển dụng, chúng tôi cũng có thể lưu trữ thêm thông tin như lịch sử quy
                    trình đăng ký và/hoặc tuyển dụng, hành vi của bạn trên trang web của chúng tôi, cookie (được
                    đề cập tại điều khoản khác), thông tin thiết bị có thể quan trọng đối với việc cung cấp dịch
                    vụ thành công.</p>
                <h4>Đối Với Nhà Tuyển Dụng</h4>
                <p>Mục tiêu chính của chúng tôi là hỗ trợ quá trình tuyển dụng và cung cấp nguồn lực cho khách
                    hàng. Chúng tôi cung cấp một nền tảng để khách hàng đăng tuyển các công việc của họ và tìm
                    kiếm ứng viên phù hợp thông qua nền tảng và/hoặc dịch vụ của chúng tôi.
                </p>
                <p>Để thực hiện các
                    nghĩa vụ pháp lý và kinh doanh của chúng tôi, chúng tôi thu thập thông tin cá nhân của khách
                    hàng mà họ cung cấp khi sử dụng và truy cập trang web. Chúng tôi cũng thu thập thông tin về
                    cách bạn sử dụng trang web của chúng tôi. Chúng tôi sử dụng thông tin này để giúp bạn tìm
                    kiếm ứng viên, hồ sơ, khuyến khích bạn gửi lời mời, giúp chúng tôi cải thiện dịch vụ, yêu
                    cầu bạn tham gia khảo sát/hoạt động marketing, thông báo cho bạn về các cập nhật/thông tin
                    quan trọng, tạo ra báo cáo thống kê về thị trường lao động, tuân thủ các luật/quy định có
                    liên quan, và phân tích và khắc phục các khuyết điểm.
                </p>
                <p>Để sử dụng dịch vụ của chúng tôi, bạn
                    sẽ được yêu cầu cung cấp dữ liệu cá nhân của mình, bao gồm dữ liệu cá nhân thuộc về tổ chức
                    (nhưng một số thông tin là tùy chọn), như tên, địa chỉ email, địa chỉ đường phố, thành phố,
                    tiểu bang/tỉnh, mã bưu chính, quốc gia, số điện thoại, tuổi/ngày sinh và quốc tịch.
                </p>
                <p>
                    Trong quá trình tuyển dụng, chúng tôi cũng có thể lưu trữ thêm thông tin như lịch sử quy
                    trình tuyển dụng, hành vi của bạn trên trang web của chúng tôi, cookie (được chỉ định tại
                    điều khoản khác) có thể quan trọng đối với việc cung cấp dịch vụ thành công</p>
                <h3>2. Cách Chúng Tôi Sử Dụng Thông Tin</h3>
                <p>Chúng tôi sử dụng thông tin thu thập để:</p>
                <ul>
                    <li>Kết nối ứng viên với cơ hội việc làm phù hợp.</li>
                    <li>Gửi thông báo việc làm và thông tin thị trường lao động.</li>
                    <li>Cải thiện dịch vụ và thực hiện khảo sát thị trường.</li>
                    <li>Tuân thủ quy định pháp luật.</li>
                </ul>

                <h3>3. Quyền Của Bạn Đối Với Dữ Liệu Cá Nhân</h3>
                <p>Bạn có thể liên hệ với chúng tôi trong các trường hợp sau:</p>
                <ul>
                    <li>Có bất kỳ yêu cầu nào về thông tin của bạn mà chúng tôi đang có;</li>
                    <li>Mong muốn xác nhận những thay đổi về thông tin của bạn hoặc chỉnh sửa những thông tin mà
                        chúng tôi đang có về bạn;</li>
                    <li>Có bất kỳ yêu cầu, phản hồi hoặc khiếu nại nào liên quan đến việc chúng tôi xử lý dữ
                        liệu cá nhân của bạn. Việc phản hồi, khiếu nại khi có vướng mắc, yêu cầu sẽ được thực
                        hiện theo Nghị định số 13/2023/NĐ-CP ngày 17 tháng 4 năm 2023 về bảo vệ dữ liệu cá nhân.
                    </li>
                    <li>Muốn xóa tất cả hoặc một phần dữ liệu cá nhân của bạn khỏi IT Job Seeker. Để tránh nghi
                        ngờ,
                        chúng tôi không chịu trách nhiệm xóa dữ liệu mà chúng tôi đã gửi cho khách hàng của mình
                        qua email hoặc các phương thức khác mà chúng tôi không thể kiểm soát. Bất kể yêu cầu xóa
                        của bạn, chúng tôi có thể lưu trữ tất cả dữ liệu đã xử lý từ dữ liệu thu thập được chẳng
                        hạn như dữ liệu người dùng được mã hóa hoặc ẩn danh.</li>
                </ul>

                <h3>4. Bảo Mật Dữ Liệu</h3>
                <p>Chúng tôi áp dụng các biện pháp bảo mật để bảo vệ dữ liệu cá nhân. Tuy nhiên, internet không
                    phải là phương tiện truyền tải an toàn tuyệt đối, và chúng tôi không chịu trách nhiệm đối
                    với các rủi ro bảo mật ngoài tầm kiểm soát.</p>

                <h3>5. Lưu Trữ Dữ Liệu</h3>
                <p>Khi bạn truy cập và sử dụng dịch vụ của chúng tôi, Chúng tôi lưu trữ dữ liệu của bạn nhằm mục
                    đích cung cấp các dịch vụ tuyển dụng trong tương lai và để quản lý mối quan hệ kinh doanh.
                    Chúng tôi có quyền lưu trữ dữ liệu cá nhân của bạn vĩnh viễn từ thời điểm bạn đăng ký mở tài
                    khoản cho đến khi bạn yêu cầu xóa nó. Và chúng tôi cũng có quyền lưu trữ vĩnh viễn dữ liệu
                    đã được xử lý như dữ liệu được mã hóa, dữ liệu thống kê, dữ liệu trong hệ thống big data và
                    dữ liệu khác không thể xác định được. Trong trường hợp quan hệ kinh doanh chấm dứt, chúng
                    tôi xác nhận rằng chúng tôi sẽ xóa dữ liệu cá nhân của bạn theo các nghĩa vụ pháp lý của
                    chúng tôi.</p>

                <h3>6. Cookie</h3>
                <p>Chúng tôi sử dụng cookie để:</p>
                <ul>
                    <li>Nhận diện và đếm số người dùng truy cập và các trang hoặc các phần khác nhau của một
                        trang
                        mà họ đã truy cập trên trang web của chúng tôi;</li>
                    <li>Xem người dùng thay đổi các truy cập trong trang web như thế nào. Vì dụ, chúng tôi sử
                        dụng
                        Google Analytics, một dịch vụ phân tích web phổ biến được cung cấp bởi Google Inc.
                        Google
                        Analytics sử dụng cookie để giúp chúng tôi phân tích cách người dùng truy cập trang web
                        của
                        chúng tôi. Điều này giúp chúng tôi cải tiến cách hoạt động của trang web ví dụ như đảm
                        bảo
                        rằng người dùng có thể truy cập và tìm kiếm một cách dễ dàng. Bạn có thể tìm hiểu thêm
                        về
                        cách sử dụng cookie này trên trang Bảo mật của Google. Không chỉ có Google Analytics,
                        chúng
                        tôi có thể sử dụng thông tin cookie của bạn cho quảng cáo số hóa như Google Ads,
                        Facebook
                        Ads và các công cụ phân tích sản phẩm khác.</li>
                    <li>Khi bạn sử dụng IT Job Seeker, cookie quảng cáo sẽ được đặt trên máy tính của bạn để
                        chúng tôi
                        có thể hiểu bạn quan tâm đến điều gì. Đối tác quảng cáo hiển thị hình ảnh của chúng tôi,
                        AdRoll, cho phép chúng tôi giới thiệu đến bạn những mẫu quảng cáo của chúng tôi trên các
                        trang web của công ty khác dựa trên trải nghiệm của bạn tại IT Job Seeker. Các kỹ thuật
                        mà
                        đối tác của chúng tôi sử dụng không thu thập thông tin cá nhân như tên, địa chỉ email,
                        địa
                        chỉ bưu điện hoặc số điện thoại của bạn. Bạn có thể truy cập vào trang này để chọn không
                        tham gia AdRoll và hiển thị quảng cáo từ đối tác của AdRoll.</li>
                </ul>

                <h3>7. Liên Hệ</h3>
                <p>Nếu có bất kỳ câu hỏi nào về Chính Sách Bảo Mật, vui lòng liên hệ với chúng tôi qua:</p>

                <p><i class="fa fa-map-marker-alt me-3"></i>Duong Noi, Ha Dong, Ha Noi, Vietnam</p>
                <p><i class="fa fa-phone-alt me-3"></i>+84 968 233 561</p>
                <p><i class="fa fa-envelope me-3"></i>jobseeker19886@gmail.com</p>
            </div>
        </div>
        <!-- Content End -->



        <!-- Footer Start -->
        <div th:replace="~{layout/footer-seeker :: footer}"></div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/user/js/main.js"></script>
</body>

</html>