<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Điều khoản dịch vụ của IT Job Seeker</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/user/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/user/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/user/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/user/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/user/css/style.css" rel="stylesheet">
    <style>
        p {
            font-size: larger;
        }
    </style>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar Start -->
        <div th:replace="~{layout/navbar-seeker :: navbar}"></div>
        <!-- Navbar End -->


        <!-- Header End -->
        <div class="container-xxl py-5 bg-dark page-header">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Điều khoản dịch vụ</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Điều khoản dịch vụ</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->
        <!-- Content Start -->

        <div class="container-xxl py-5">
            <div class="container lh-base">

                <h2 class="text-center">Thỏa Thuận Sử Dụng</h2>

                <h3>1. Giới Thiệu</h3>
                <p>1.1 Chào mừng bạn đến với IT Job Seeker. Bạn sẽ tìm thấy thông tin liên hệ trong phần <a
                        href="/about-us">“Về chúng tôi.”</a>
                </p>
                <p>1.2 Bất kỳ thay đổi nào IT Job Seeker thực hiện đối với Điều khoản & Điều kiện trong tương lai sẽ
                    được đăng
                    trên trang này. Chúng tôi khuyến khích bạn kiểm tra ngày hiệu lực của chính sách này mỗi khi truy
                    cập IT Job Seeker.com để cập nhật bất kì thay đổi nào từ phía IT Job Seeker. Chúng tôi cũng sẽ thông
                    báo cho bạn
                    qua email hoặc tại trang web khi có bất kỳ thay đổi nào trong chính sách của mình.</p>
                <p>1.3 Việc bạn sử dụng trang web này đồng nghĩa bạn đã đồng ý đối với các điều khoản và điều kiện, tạo
                    thành một hợp đồng giữa bạn và chúng tôi cho việc quản lý và sử dụng. Nếu bạn là người dùng, các
                    quyền theo luật định của bạn sẽ không bị ảnh hưởng bởi thỏa thuận này.</p>

                <h3>2. Quyền Sở Hữu Trí Tuệ</h3>
                <p>2.1 Nội dung trang web của chúng tôi bao gồm tất cả thông tin, phần mềm, dữ liệu, văn bản, hình ảnh,
                    âm thanh và video được bảo vệ bởi việc đăng ký bản quyền, thương hiệu, nhãn hiệu dịch vụ, bằng sáng
                    chế hoặc các quyền sở hữu khác.</p>
                <p>2.2 Ngoại trừ trường hợp cần thiết và được sử dụng trong chừng mực thì nội dung của trang web không
                    được lấy, hiển thị, sửa đổi, sao chép, in, bán, tải về, cho thuê, thiết kế ngược lại hoặc truyền đi
                    dưới bất kỳ hình thức nào mà không có sự đồng ý trước bằng văn bản của chúng tôi.</p>

                <h3>3. Bảo Vệ Dữ Liệu</h3>
                <p>Thông tin cá nhân được thu thập từ bạn được quy định theo <a href="/privacy-policy">Chính sách Bảo
                        mật</a> của chúng tôi.</p>

                <h3>4. Quyền Phủ Nhận</h3>
                <p>4.1 Trên trang web này chúng tôi đưa ra nhiều liên kết đến các trang web khác mà chúng tôi nghĩ rằng
                    bạn sẽ quan tâm. Các liên kết được liệt kê tự động dựa trên tên miền và / hoặc các từ khoá được sử
                    dụng trong công cụ tìm kiếm trên trang của chúng tôi và / hoặc các tiêu chí khác. Nếu bạn có bất kỳ
                    mối quan tâm nào về bất kỳ nội dung nào trên trang web này, vui lòng liên hệ với chúng tôi, chúng
                    tôi sẽ cố gắng hết sức để giải quyết.</p>
                <p>4.2 Chúng tôi không kiểm soát các trang web của bên thứ ba được liệt kê trên trang web này và không
                    xác nhận họ. Bạn đồng ý rằng chúng tôi không chịu trách nhiệm về tính sẵn có hoặc nội dung của hàng
                    hoá hoặc dịch vụ có sẵn trên các trang web đó. Bạn sẽ tự chịu rủi ro nếu truy cập các những trang
                    web này.</p>
                <p>4.3 Trang web này được cung cấp “như hiện tại”. Chúng tôi không đảm bảo dịch vụ không bị gián đoạn
                    hoặc không có lỗi. Chúng tôi có quyền tạm ngưng hoạt động trang web mà không cần thông báo để phục
                    vụ việc sửa chữa, bảo trì hoặc vì các lý do kỹ thuật khác.</p>
                <p>4.4 Chúng tôi luôn nỗ lực về mặt thương mại để đảm bảo an ninh cho dịch vụ mà mình cung cấp. Tuy
                    nhiên, chúng tôi không đảm bảo rằng trang web này sẽ hoạt động hoàn toàn hoặc một phần trên bất kỳ
                    thiết bị máy tính cụ thể nào hoặc trong bất kỳ phần mềm cụ thể nào, cũng như không đảm bảo không có
                    virus hoặc bất cứ thứ gì khác có thể gây hại đến bất kỳ công nghệ nào.</p>

                <h3>5. Trách Nhiệm</h3>
                <p>5.1 Phần này (tức là Mục 5. Trách nhiệm) (và bất kỳ điều khoản nào khác loại trừ hoặc giới hạn trách
                    nhiệm của chúng tôi) áp dụng cho các giám đốc, cán bộ, nhân viên, nhà thầu phụ, đại lý và các công
                    ty liên kết cũng như cho chúng tôi. Phần này được áp dụng trong phạm vi tối đa cho phép theo luật
                    pháp hiện hành.</p>
                <p>5.2 Không có nội dung nào trong thỏa thuận này giới hạn hoặc loại trừ trách nhiệm pháp lý của chúng
                    tôi đối với sự sơ suất gây ra tử vong hoặc thương tích cá nhân, hoặc đối với hành vi xuyên tạc gian
                    lận, hoặc đối với bất kỳ điều gì có thể không được loại trừ hoặc giới hạn về mặt pháp lý.
                </p>
                <p>5.3 Chúng tôi loại trừ mọi trách nhiệm pháp lý dưới bất kỳ hình thức nào (kể cả do sơ suất) hoặc bất
                    kỳ trường hợp nào khác liên quan đến trang web này (bao gồm nhưng không giới hạn việc sử dụng trang
                    web, thông tin trên trang web hoặc được truyền tải liên quan đến trang web hoặc bất kỳ vi phạm về an
                    ninh hoặc không có khả năng truy cập trang web) hoặc liên quan đến trang web của bên thứ ba được
                    liên kết từ trang web này.</p>
                <p>5.4 Trong phạm vi pháp luật cho phép, chúng tôi loại trừ tất cả các điều kiện, điều khoản, sự đại
                    diện và bảo đảm, cho dù được quy định bởi pháp luật hoặc các hình thức khác, không được công bố rõ
                    trong thỏa thuận này bao gồm nhưng không giới hạn, các bảo đảm ngụ ý về chất lượng và tính thích
                    đáng cho một mục đích cụ thể.</p>

                <h3>6. Điều Khoản Chung</h3>
                <p>6.1 Các điều khoản và điều kiện này tạo thành toàn bộ thỏa thuận giữa bạn và chúng tôi liên quan đến
                    việc sử dụng trang web này. Bất kỳ sự không thực hiện hoặc thi hành bất kỳ quyền lợi hoặc điều khoản
                    nào trong những điều khoản và điều kiện này từ phía chúng tôi sẽ không cấu thành sự từ bỏ quyền hoặc
                    quy định đó. Nếu bất kỳ phần nào của thỏa thuận này bị coi là không có hiệu lực vì bất kỳ lý do nào,
                    phần còn lại sẽ tiếp tục có hiệu lực.</p>
                <p>6.2 Các Điều khoản sẽ được quản lý, giải thích và sẽ có hiệu lực theo quy định của pháp luật Việt
                    Nam; Và sẽ thuộc thẩm quyền độc quyền của tòa án Việt Nam.</p>
                <p>6.3 Dự phòng ưu tiên<br>

                    Giữa công ty chúng tôi và khách hàng, đã được ký kết một Thỏa thuận cho việc cung cấp dịch vụ và
                    trong trường hợp có bất kỳ sự mâu thuẫn nào giữa các điều khoản của Thỏa thuận dịch vụ và Chính sách
                    Bảo mật hoặc Điều khoản & Điều kiện, thì các điều khoản của Thỏa thuận dịch vụ sẽ được ưu tiên áp
                    dụng. Đối với các vấn đề không được quy định trong Thỏa thuận dịch vụ, thì sẽ áp dụng các quy định
                    của Chính sách Bảo mật và Điều khoản & Điều kiện.</p>


            </div>
        </div>

        <!-- Content End -->



        <!-- Footer Start -->
        <div th:replace="~{layout/footer-seeker :: footer}"></div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/user/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/user/js/main.js"></script>
</body>

</html>