<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Admin-Manage Account</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta sec:authorize="isAuthenticated()" name="_csrf" th:content="${_csrf.token}" />
  <meta sec:authorize="isAuthenticated()" name="_csrf_header" th:content="${_csrf.headerName}" />

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="/manager/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/manager/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/manager/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="/manager/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css"
    integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div th:replace="~{layout/spinner-recruiter :: spinner-recruiter}"></div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="~{layout/sidebar-recruiter:: sidebar-recruiter}"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
      <!-- Navbar Start -->
      <div th:replace="~{layout/navbar-recruiter :: navbar-recruiter}"></div>
      <!-- Navbar End -->

      <!-- Mở đầu phần chính -->
      <div class="container-fluid pt-4 px-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/recruiter/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/recruiter/resume">Quản lí tin tuyển dụng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ với ứng viên</li>
          </ol>
        </nav>
        <!-- Viết code vào đây -->
        <div class="bg-light rounded h-100 p-4">
          <div class="card mb-4">
            <div class="card-header">
              <h5 class="card-title">Thông tin CV</h5>
            </div>
            <div class="card-body">
              <p><strong>Trạng thái:</strong> <span th:text="${resume.status}"></span></p>
              <p><strong>Họ và tên:</strong> <span th:text="${resume.fullName}"></span></p>
              <p><strong>Email:</strong> <span th:text="${resume.email}"></span></p>
              <p><strong>Số điện thoại:</strong> <span th:text="${resume.phoneNumber}"></span></p>
              <p><strong>Địa điểm mong muốn:</strong> <span th:text="${resume.preferredLocation}"></span></p>
              <p><strong>Cấp bậc mong muốn:</strong> <span th:text="${resume.preferredLevel}"></span></p>
              <p><strong>Mô tả:</strong> <span th:text="${resume.description}"></span></p>
            </div>
            <div class="card-footer">
              <a target="_blank" th:href="${resume.resume}" class="btn btn-primary">Xem CV</a>
            </div>
          </div>
          <form th:action="@{'/recruiter/resume/contact/' + ${resume.id}}" method="post" th:object="${emailContentDTO}">
            <div class="mb-3">
              <label for="emailTo" class="form-label">Gửi email đến</label>
              <input type="email" class="form-control" id="emailTo" th:value="${resume.email}" th:name="emailTo"
                placeholder="Nhập email người nhận">
            </div>
            <div class="mb-3">
              <label for="emailSubject" class="form-label">Tiêu đề</label>
              <input th:name="subject" type="text" class="form-control" id="emailSubject" name="subject"
                placeholder="Nhập tiêu đề email">
            </div>
            <div class="mb-3">
              <label for="emailHeader" class="form-label">Đầu mục</label>
              <input th:name="header" type="text" class="form-control" id="emailHeader" name="header"
                placeholder="Nhập đầu mục email">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Nội dung email</label>
              <textarea th:name="content" th:text="${emailTemplate}" id="description" class="form-control"
                name="content" rows="5" placeholder="Viết tin nhắn của bạn ở đây"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Cập nhật trạng thái CV</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="pending" th:field="*{updatedStatus}" value="Pending"
                  th:disabled="${resume.status == 'Reviewed' || resume.status == 'Rejected' || resume.status == 'Accepted'}">
                <label class="form-check-label" for="pending">
                  Đang chờ
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="reviewed" th:field="*{updatedStatus}" value="Reviewed"
                  th:disabled="${resume.status == 'Rejected' || resume.status == 'Accepted'}">
                <label class="form-check-label" for="reviewed">
                  Đã xem
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="accepted" th:field="*{updatedStatus}" value="Accepted"
                  th:disabled="${resume.status == 'Rejected'}">
                <label class="form-check-label" for="accepted">
                  Đã chấp nhận
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" id="rejected" th:field="*{updatedStatus}" value="Rejected"
                  th:disabled="${resume.status == 'Accepted'}">
                <label class="form-check-label" for="rejected">
                  Đã từ chối
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Gửi Email</button>
          </form>
        </div>
      </div>
      <!-- Kết thúc phần chính -->


      <!-- Footer Start -->
      <div th:replace="~{layout/footer-recruiter :: footer-recruiter}"></div>
      <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
    integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/manager/lib/tinymce/js/tinymce/tinymce.min.js"></script>
  <!-- Template Javascript -->
  <script src="/manager/js/main.js"></script>
  <script>

  </script>
</body>

</html>