<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Recruiter dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/manager/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/manager/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/manager/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/manager/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css"
        integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Lightbox stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/manager/css/company-review.css">

</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div th:replace="~{layout/spinner-recruiter :: spinner-recruiter}"></div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div th:replace="~{layout/sidebar-recruiter:: sidebar-recruiter}"></div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:replace="~{layout/navbar-recruiter :: navbar-recruiter}"></div>
            <!-- Navbar End -->

            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-3">
                        <a href="/recruiter/follower">
                            <div class="card h-100 mb-3 text-center hover-shadow">
                                <div class="card-body text-white bg-primary">
                                    <h5 class="card-title text-white">Số lượng người theo dõi
                                    </h5>
                                </div>
                                <div class="card-footer bg-light ">
                                    <h1 class="text-primary" th:text="${countCompanyLikes}"></h1>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/recruiter/manage-jobs">
                            <div class="card h-100 mb-3 text-center hover-shadow">
                                <div class="card-body text-white bg-warning">
                                    <h5 class="card-title text-white">Số lượng công việc đang tuyển dụng
                                    </h5>
                                </div>
                                <div class="card-footer bg-light">
                                    <h1 class="text-warning" th:text="${countOpeningJobs}"></h1>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/recruiter/resume">
                            <div class="card h-100 mb-3 text-center hover-shadow">
                                <div class="card-body text-white bg-success">
                                    <h5 class="card-title text-white">Số lượng CV ứng tuyển
                                    </h5>
                                </div>
                                <div class="card-footer bg-light">
                                    <h1 class="text-success" th:text="${countOpeningResume}"></h1>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="/recruiter/manage-branch">
                            <div class="card h-100 mb-3 text-center hover-shadow">
                                <div class="card-body text-white bg-danger">
                                    <h5 class="card-title text-white">Số lượng chi nhánh
                                    </h5>
                                </div>
                                <div class="card-footer bg-light">
                                    <h1 class="text-danger" th:text="${countCompanyBranches}"></h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mt-2 g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Thống kê việc làm của công ty</h6>
                            <hr class="my-4" />
                            <table class="table table-hover">
                                <tbody id="jobTableBody">
                                    <tr th:each="job, iterStat : ${jobStatistics}" class="row"
                                        th:classappend="${iterStat.index >= 5} ? 'd-none extra-row'"
                                        th:attr="onclick='window.location.href=\'/recruiter/manage-jobs/update/' + ${job[0].id} + '\''"
                                        style="cursor: pointer;">
                            
                            
                                        <td class="text-truncate col-8">
                                            <span th:if="${job[0].isOpening}"><i class="bi bi-circle-fill text-success animate-breathing me-1"></i></span>
                                            <span th:if="${!job[0].isOpening}"><i class="bi bi-circle-fill text-danger animate-breathing me-1"></i></span>
                                            <span th:text="${job[0].title}"></span>
                                        </td>
                            
                                        <td class="col-2 text-center">
                                            <span th:text="${job[1]}"></span> 
                                            <i class="bi bi-heart-fill text-danger icon-adjust"></i>
                                        </td>
                            
                                        <td class="col-2 text-center">
                                            <span th:text="${job[2]}"></span> 
                                            <i class="bi bi-file-earmark-text-fill me-2 text-success icon-adjust"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr class="my-4" />
                            <!-- Show More / Show Less Buttons -->
                            <div class="text-center mt-3">
                                <div class="show-more-job" style="display: block; cursor: pointer;">
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="show-less-job" style="display: none; cursor: pointer;">
                                    <i class="fas fa-chevron-up"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">

                            <h6 class="mb-4 d-flex justify-content-between">
                                <span>Đánh giá của người dùng </span>
                                <span><a th:href="@{/companies/review/{id}(id=${company.id})}"
                                        class="link-opacity-100-hover">
                                        <i class="bi bi-box-arrow-up-right"></i></a></span>
                            </h6>
                            <hr class="my-4" />
                            <div class="row rate-section bg-light">
                                <!-- Trung bình số sao -->
                                <div class="col-md-3 text-center">
                                    <h1 id="average-rating" class="display-4">0.0</h1>
                                    <div id="star-container" class="star-rating"></div>
                                    <p id="total-reviews">0 đánh giá</p>
                                </div>

                                <!-- Thống kê số sao -->
                                <div class="col-md-6">
                                    <div id="rating-breakdown"></div>
                                </div>

                                <!-- Vòng tròn phần trăm -->
                                <div class="col-md-3 text-center">
                                    <div class="circle-container">
                                        <div id="circle" class="circle">0%</div>
                                    </div>
                                    <p>Đề xuất làm việc ở đây với bạn bè</p>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <div class="rating-container rate-section bg-light">
                                <!-- Danh sách đánh giá -->

                                <div class="rating-list col-12" id="rating-list"></div>

                            </div>

                            <div class="show-more-btn" style="display: block;"><i class="fas fa-chevron-down"></i>
                            </div>
                            <div class="show-less-btn" style="display: none;"><i class="fas fa-chevron-up"></i>
                            </div>
                            <div id="CompanyId" th:text="${company.id}" style="display: none;"></div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Content End -->
            <!-- Footer Start -->
            <div th:replace="~{layout/footer-recruiter :: footer-recruiter}"></div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
        integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Template Javascript -->
    <script src="/manager/js/main.js"></script>
    <script src="/manager/js/company-review.js"></script>

</body>

</html>