<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Admin-Manage Account</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/manager/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/manager/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/manager/css/style.css" rel="stylesheet">

    <!-- JavaScript Function -->



</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div th:replace="~{layout/spinner-recruiter :: spinner-recruiter}"></div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div th:replace="~{layout/sidebar-recruiter:: sidebar-recruiter}"></div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <div th:replace="~{layout/navbar-recruiter :: navbar-recruiter}"></div>
            <!-- Navbar End -->

            <!-- Mở đầu phần chính -->
            <div class="container-fluid pt-4 px-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/recruiter/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Phản hồi hệ thống</li>
                    </ol>
                </nav>
                <!-- Viết code vào đây -->
                <div class="bg-light rounded h-100 p-4">

                    <div class="d-flex justify-content-start mb-3">
                        <a href="/recruiter/choose-feedback-type" class="btn btn-primary"><i
                                class="bi bi-arrow-left"></i> Trở về</a>
                    </div>
                    <div class="card p-4 shadow-sm">
                        <h3 class="fw-bold">Góp ý sản phẩm</h3>
                        <p>Phản hồi của bạn rất quan trọng, JobSeeker mong nhận được nhiều góp ý từ bạn để cải thiện sản
                            phẩm tốt
                            hơn.</p>

                        <form id="feedbackForm" th:action="@{/feedback/submit-recruiter}" th:object="${feedback}"
                            method="post">
                            <input type="hidden" id="satisfactionInput" th:field="*{rating}">
                            <input type="hidden" name="userId" th:value="${session.userId}">
                            <label class="fw-bold">Chủ đề cần góp ý </label>
                            <div class="mb-3">
                                <div class="btn-group d-flex flex-wrap" role="group">
                                    <th:block th:each="topic : ${topics}">
                                        <input type="checkbox" class="btn-check topic-checkbox"
                                            th:id="'topic-' + ${topic.id}" th:value="${topic.id}" th:field="*{topics}">
                                        <label th:for="'topic-' + ${topic.id}"
                                            class="btn btn-outline-primary m-1 topic-label">
                                            <span th:text="${topic.name}"></span>
                                        </label>
                                    </th:block>
                                </div>
                            </div>




                            <label class="fw-bold">Mô tả góp ý <span class="text-danger">*</span></label>
                            <textarea required class="form-control mb-3" th:field="*{description}" rows="4"
                                placeholder="Mô tả góp ý của bạn giúp JobSeeker cải tiến sản phẩm, hỗ trợ bạn tốt hơn"></textarea>

                            <label class="fw-bold">Bạn có hài lòng với JobSeeker không?</label>
                            <div class="d-flex justify-content-between mb-4">
                                <button type="button" class="btn btn-outline-primary flex-fill mx-1 satisfaction-btn"
                                    onclick="setSatisfaction('Rất tệ', this)">😡 Rất tệ</button>
                                <button type="button" class="btn btn-outline-primary flex-fill mx-1 satisfaction-btn"
                                    onclick="setSatisfaction('Tệ', this)">😞 Tệ</button>
                                <button type="button" class="btn btn-outline-primary flex-fill mx-1 satisfaction-btn"
                                    onclick="setSatisfaction('Bình thường', this)">😐 Bình thường</button>
                                <button type="button" class="btn btn-outline-primary flex-fill mx-1 satisfaction-btn"
                                    onclick="setSatisfaction('Tốt', this)">😊 Tốt</button>
                                <button type="button" class="btn btn-outline-primary flex-fill mx-1 satisfaction-btn"
                                    onclick="setSatisfaction('Tuyệt vời', this)">😍 Tuyệt vời</button>
                            </div>

                            <div class="d-flex justify-content-end gap-2">
                                <button type="button" class="btn btn-light me-2" onclick="resetForm()">Xóa form</button>
                                <button type="submit" class="btn btn-primary">Gửi phản hồi</button>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- Kết thúc phần chính -->


                <!-- Footer Start -->
                <div th:replace="~{layout/footer-recruiter :: footer-recruiter}"></div>
                <!-- Footer End -->
            </div>
            <!-- Content End -->


            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Template Javascript -->
        <script src="/manager/js/main.js"></script>
        <script src="/manager/js/handleAddFeedback.js"></script>

</body>

</html>